
:root {
    --bg-color: #A9CEF4;
    --dark-blue: #181818;
    --light-blue: #7EA0B7;
}

body{
    background: #f2fdff;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-self: center;
}
.nav-bar{
    background: var(--bg-color);
    width: 10vw;
    height: 100vh;
}