/* RESETING CODE */
*{
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

}

:root {
    --bg-color: #A9CEF4;
    --dark-blue: #181818;
    --light-blue: #7EA0B7;
    --green-blue: #597081;
}
.logo {
    margin-left: 2%;
}

.search {
    scale: 1.5;
}

@media only screen and (max-width: 530px) {
    .search {
        scale: 1.2;
    }
}

@media only screen and (max-width: 350px) {
    .search {
        scale: 1;
    }
}

