@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

body{
    background-color: #F2FDFF;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
}
.nav-bar{
    padding: 10px 20px;
    height: 80px;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-color);
    box-sizing: border-box;
    align-items: center;
}
.website-logo{
    display: flex;
    align-items: center;
}
.nav-links{
    display: flex;
    justify-content: space-between;   
}
a
{
    margin-left: 1.8vw;
    margin-right: 1.8vw;
    text-decoration: none;
    color: var(--green-blue);
    font-size: 20px;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}
.ads-btn{
    color: white;
    background-color: var(--green-blue);
    padding: 5px;
    width:100px;
    border: none;
    border-radius: 20px;
    margin-left: 1.8vw;
}
.ads-btn:active{
    scale: 0.9;
}
.add-btn:hover{
    cursor: pointer;
}
.search{
    position: relative;
}
input{
    width: 25vw;
    height: 30px;
    padding: 5px 0px;
    padding-left: 30px;
    border-radius: 20px;
    border: none;
}
input:focus{
    outline: none;
}
.search-icon{
    position: absolute;
    width: 15px;
    height: 15px;
    left:10px;
    top: 25%;
}
.logo{
    width: 60px;
    height: 60px ;
    margin-right: 20px;

}
.website-name{
    color:white;
}
.log-out{
    cursor: pointer;
    color: var(--green-blue);
    font-weight: bold;
}
.menu{
    width: 20px;
    height: 20px;
    display: none;
    margin-right: 10px;
}
/******************************/
.category{
    display: flex;
    justify-content: space-between;
    padding:25px 30px 25px 50px;
}

.drop-down{
    width: 12px;
    height: 12px;
    margin-left: 20px;
    cursor: pointer;
}
.add-btns{
    display: flex;
}
.add-btns>:first-child{
    margin-right: 10px;
}
.add-btn{
    color: white;
    background-color: var(--green-blue);
    border: none;
    padding:5px;
    font-size: 14px;
    cursor: pointer;
    height:30px;
}

.add-btn:active{
    scale: 0.9;
}
/********************/

.products{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.jacket{
    width: 90%;
    height: 90%;
    margin: 20px;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3));
}

.product-card{
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 200px;
    margin: 15px;
    padding:10px;
    border-bottom: 1px solid gray;
    background-color: white;
}

.product-card:hover {
    margin-bottom: 10px;
    scale: 1.05;
}
.product-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product-details>*{
    margin-top:10px;
    font-size: 14px;
}

 /************************/
.top-products-displayed{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding:20px;
}
.top-product{
    width: 300px;
    height: 200px;
    margin: 15px;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3));
}
.top-product:hover {
    margin-bottom: 10px;
    scale: 1.05;
}


@media only screen and (max-width: 1000px) {
    /* input{
        max-width:150px;
    } */
}
@media only screen and (max-width: 800px) {
    .nav-links{
        display:none;
    }
    input{
        width:45vw;
    }
    .website-name{
        display: none;
    }
    .menu{
        display: block;
    }
    .log-out{
        display: none;
    }
    .category{
        padding:20px;
    }
}