:root {
  --bg-color: #f2fdff;
  --light-blue: #a9cef4;
  --dark-blue: #36494e;
  --black: #000;
  --faded-blue: #7ea0b7;
  --gray-blue: #597081;
}

html {
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--bg-color);
  margin: 0px;
}

/* Client Nav Start */

.client-nav {
  height: 80px;
  background-color: var(--light-blue);
  padding: 10px 20px;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

#navLogo {
  transition: 0.3s;
}

.client-nav img {
  width: 100px;
}

.client-nav-links {
  min-width: 300px;
  justify-content: space-between;
  font-weight: 600;
  font-size: 18px;
}

.client-nav-link a,
.mobile-client-nav-link a {
  padding: 4px 10px;
  border-radius: 25px;
  text-decoration: none;
  color: var(--dark-blue);
  transition: 0.3s;
}

.mobile-client-nav-link a {
  padding: 4px 5px;
}

.client-nav-link a:hover,
.mobile-client-nav-link a:hover {
  cursor: pointer;
  color: var(--bg-color);
  background-color: var(--gray-blue);
  transition: 0.3s;
}

.client-nav-search {
  display: flex;
  height: 50px;
  min-width: 100px;
  flex-grow: 1;
  background-color: var(--bg-color);
  color: var(--gray-blue);
  border-radius: 25px;
  align-items: center;
  padding: 0px 15px;
  gap: 10px;
  transition: 0.5s;
}

#search {
  background-color: transparent;
  border: none;
  font-size: 16px;
  outline: none;
}

.mobile-links {
  display: none;
  width: fit-content;
  transition: 0.5s;
}

.logOut {
  cursor: pointer;
}

#navMenu {
  display: none;
}

#navMenuBTN {
  background-color: transparent;
  border: none;
}

/* Client Nav End */

/* Client Footer Start */

.client-footer {
  bottom: 0;
  width: 100%;
  align-items: center;
  background-color: var(--faded-blue);
  padding: 25px;
  box-sizing: border-box;
}

.footer-content {
  display: flex;
  width: 100%;
  margin-bottom: 60px;
  padding: 0px 10% 0px 6%;
  box-sizing: border-box;
  gap: 15%;
  justify-content: center;
}

.footer-content a {
  padding: 10px;
  border-radius: 40px;
  transition: 0.3s;
  height: fit-content;
}

.footer-content a:first-child:hover {
  background-color: var(--bg-color);
  transition: 0.3s;
}

.footer-col {
  min-width: 120px;
  text-align: center;
}

.footer-col:last-child {
  margin-top: 59px;
}

.footer-col a {
  margin: 5px 0px;
  text-decoration: none;
  font-weight: 600;
  color: var(--black);
}

.footer-col a:hover {
  color: var(--bg-color);
  background-color: var(--black) !important;
}

.footer-caption {
  padding: 10px;
  background-color: var(--bg-color);
  border-radius: 25px;
}

/* Client Footer End */

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}

.light-blu-btn,
.gray-btn {
  padding: 0px 15px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  transition: 0.3s;
}

.light-blu-btn {
  background-color: var(--light-blue);
}

.gray-btn {
  background-color: var(--dark-blue);
  color: var(--bg-color);
}

.gray-btn:hover,
.light-blu-btn:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

@media only screen and (max-width: 900px) {
  .client-nav-links {
    display: none;
  }
  .client-nav-link {
    display: none;
  }
  #navMenu {
    display: block;
  }
  #navLogo {
    transition: 0.3s;
    width: 50px;
  }
}

@media only screen and (max-width: 700px) {
  .client-footer {
    padding: 15px;
  }

  .footer-content {
    margin-bottom: 30px;
    justify-content: space-between;
    gap: 20px;
    padding: 0px 50px;
  }

  .footer-content a:first-child {
    display: none;
  }

  .footer-content a {
    padding: 5px 10px;
  }

  .footer-col {
    width: fit-content;
  }

  .footer-col a {
    display: block !important;
  }
}
